h1 {
    color: #397fbd;
    font-weight: 800;
    font-size: 3.75em;
}

.description {
    max-width: 60em;
    margin: 1.2em auto 1em;
    line-height: 1.3em;
    font-weight: 400;
    font-size: 17px;
    color: #a2a2a2
}