.css_bar_horizontal{
    width: 47%;
    float: left;
    margin: 10px;
    height: 435px;
}

.css_animated_line{
    width: 47%;
    float: left;
    margin: 10px;
    height: 435px;
    margin-left: 33px;
}

.css_reacttable{
    width: 47%;
    float: left;
    margin: 10px;
}

.css_bar{
    width: 47%;
    height: 435px;
    float: left;  
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 44px;
}

.css_wrapper{
    width: 100%;
    height: 100%;
    padding: 20px;
    background: #353c52c7;
    box-shadow: 3px 3px 3px 4px #1d1c1c;
}
.css_wrapper .ReactTable{
    background-color: #2b3140f7;
    color: white;
}

.css_wrapper .ReactTable .rt-thead.-header {
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.15);
    background: #80808033;
    color: #9e9c9c;
}

.css_wrapper .ReactTable .rt-tbody .rt-tr-group {
    border-bottom: solid 1px rgb(55, 63, 66);
}

.css_wrapper .ReactTable .rt-tbody {
    min-width: 1400px;
    font-size: 14px;
    color: #dad7d7;
}

.css_wrapper .ReactTable .-pagination input, .ReactTable .-pagination select {
    border: 1px solid rgba(0,0,0,0.1);
    background: #303749;
    padding: 4px 8px;
    font-size: inherit;
    border-radius: 3px;
    font-weight: normal;
    outline: none;
    color:#dad7d7;
}

.css_wrapper .ReactTable .-pagination .-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 3px;
    padding: 6px;
    font-size: 1em;
    color: #dad7d7;
    background: rgb(48, 55, 73);
    transition: all .1s ease;
    cursor: pointer;
    outline: none;
}

.css_wrapper .ReactTable .-pagination {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 3px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
    border-top: 10px solid rgba(0,0,0,0.1);
}

.css_wrapper .ReactTable .-pagination .-btn:not([disabled]):hover {
    background: rgb(87, 128, 216);
    color: #fff;
}